---
import { getImage } from "astro:assets";
const { title, line2, line3, url, thumbnail, accent } = Astro.props;
import { settings } from "../../helpers/settingsHelper";
import { colord } from "colord";

const tileSettings = settings.portfolioLayouts.coolTile;
let fancyImage = { src: "" };
if (thumbnail) {
  const imageProps = await getImage({
    src: thumbnail,
  });
  // console.log(imageProps);
  const srcRatio = imageProps.attributes.width / imageProps.attributes.height;
  const neededWidth = srcRatio * tileSettings.tiles.minWidth * 2;

  fancyImage = await getImage({
    src: thumbnail,
    width: neededWidth,
  });
}
const overlayColor = colord(
  tileSettings.tiles.useProjectColor ? accent : tileSettings.tiles.overlayColor
)
  .alpha(tileSettings.tiles.overlayOpacity / 100)
  .toHex();
---

<style define:vars={{ overlayColor }}>
  .portfolio-tile {
    aspect-ratio: var(--tileRatio);
    position: relative;
    /* overflow: hidden; */
    background-size: cover;
    transition: background 0.5s linear;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
  }

  .tile-hover-panel {
    z-index: 10;

    display: flex;
    flex-direction: column;
    transform: scale(0.9);
    transform-origin: 50% 120% 0;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: visible;

    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 100%;
  }

  .portfolio-tile:hover .tile-hover-panel,
  .portfolio-tile:focus-within .tile-hover-panel {
    transform: scale(1);
    opacity: 1;
  }
  .tile-hover-panel-items {
    background-color: var(--overlayColor, rgba(0, 0, 0, 0.642));

    padding: var(--overlayPadding);
  }
  .tile-hover-panel-title {
    color: white;
    text-decoration: none;
  }
  .tile-hover-panel-title::before {
    content: "";
    position: absolute;
    /* background-color: yellow; */
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
  /* typography */
  .tile-hover-panel-title {
    font-family: var(--title-fontFamily);
    font-size: var(--title-fontSize);
    font-weight: var(--title-fontWeight);
    font-style: var(--title-fontStyle);
    margin-top: var(--title-marginTop);
    margin-bottom: var(--title-marginBottom);
    color: var(--title-color);
    line-height: var(--title-lineHeight);
  }
  .tile-hover-panel-line2 {
    font-family: var(--line2-fontFamily);
    font-size: var(--line2-fontSize);
    font-weight: var(--line2-fontWeight);
    font-style: var(--line2-fontStyle);

    margin-top: var(--line2-marginTop);
    margin-bottom: var(--line2-marginBottom);
    color: var(--line2-color);
    line-height: var(--line2-lineHeight);
  }
  .tile-hover-panel-line3 {
    font-family: var(--line3-fontFamily);
    font-size: var(--line3-fontSize);
    font-weight: var(--line3-fontWeight);
    font-style: var(--line3-fontStyle);

    margin-top: var(--line3-marginTop);
    margin-bottom: var(--line3-marginBottom);
    color: var(--line3-color);
    line-height: var(--line3-lineHeight);
  }

  @media (any-hover: none) {
    .tile-hover-panel {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<article
  class="portfolio-tile"
  style={{
    backgroundColor: "darkgray",
    backgroundImage: `url(${fancyImage.src})`,
  }}
>
  <div class="tile-hover-panel">
    <div class="tile-hover-panel-items">
      <a class="tile-hover-panel-title" href={url}>{title}</a>
      {line2 && <p class="tile-hover-panel-line2">{line2}</p>}
      {line3 && <p class="tile-hover-panel-line3">{line3}</p>}
    </div>
  </div>
</article>

<!-- 
  watch this youtube video:
  https://www.youtube.com/watch?v=5DEq5cWNYt8
 -->
