---
import menuItems from "../../helpers/menuItems";

import settings from "../../helpers/settingsHelper";
const sidebarWidth = settings.sidebar.sidebarWidth;
---

<style>
  .menu-main,
  .menu-submenu {
    display: flex;
    flex-direction: column;
  }
  .menu-submenu {
    padding-left: 1rem;
  }
</style>
<style is:global define:vars={{ sidebarWidth: sidebarWidth }}>
  .header-for-sidebar {
    /* width:var(--sidebarWidth); */
    /* background-color: yellow; */
  }
  .body-for-sidebar {
    display: flex;
  }
</style>
<nav class="menu-main">
  {
    menuItems.map((item) => {
      if (item.subItems.length > 0) {
        return (
          <>
            <a href={item.url}>{item.title}</a>
            <div class="menu-submenu">
              {item.subItems.map((subItem) => {
                return <a href={subItem.url}>{subItem.title}</a>;
              })}
            </div>
          </>
        );
      } else {
        return <a href={item.url}>{item.title}</a>;
      }
    })
  }
</nav>
