---
import ImagePopout from "./ImagePopout.astro";
import { getRandomString } from "../helpers/getRandomString";
const galleryID = getRandomString();
const { props } = Astro;
console.log(props.items);
---

<style>
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
</style>

<div class="image-gallery">
  {
    props.items.map((item) => {
      return (
        <ImagePopout
          galleryID={galleryID}
          altText={item.altText}
          image={item.image}
          caption={item.caption}
          hideCaption={true}
          forceAspectRatio="3/2"
        />
      );
    })
  }
</div>
