---
import { getCollection } from 'astro:content';
import '../styles.css'
import { Image } from 'astro:assets';

export interface Props {
	title: string;
}

const { title } = Astro.props;
const projects= await getCollection('projects')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- basic nav that creates a link for each project in the projects collection -->
		<nav>
			{projects.map((project)=>{
				return <a href={`/projects/${project.slug}`}>
					{project.data.thumbnail && <Image src={project.data.thumbnail} 
					widths={[240, 540, 720, project.data.thumbnail.width]}
  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${project.data.thumbnail.width}px`}
	alt=""/>}
					
					{project.data.title}</a>
			})}
		</nav>
		<slot />
	</body>
</html>