---
import { getCollection } from 'astro:content';
import '../styles.css'
import { Image } from 'astro:assets';

export interface Props {
	title: string;
}

const { title } = Astro.props;
const projects= await getCollection('projects');


import { ViewTransitions } from 'astro:transitions';

const isDev = process.env.NODE_ENV === "development";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions/>
	</head>
	<style is:global>
		main{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		main > * {
			display: block;
			width: 100%;
			max-width: 600px;
			 overflow-wrap: break-word;
		}
		.floating-edit{
			
			
			position: fixed;
			transform:translateX(50%) translateX(-20px) rotate(-90deg) ;
			right:0;
		}
		.floating-edit a{padding:.5rem;background-color: lightpink;
			text-decoration: none;

		}
	
	</style>
	<body >
		<!-- basic nav that creates a link for each project in the projects collection -->
		<header transition:animate="initial">
	<nav>
			{projects.map((project)=>{
				return <a href={`/projects/${project.slug}`}>
					{project.data.thumbnail && <Image style={{width:'100px'}} src={project.data.thumbnail} 
					widths={[240, 540, 720, project.data.thumbnail.width]}
  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${project.data.thumbnail.width}px`}
	alt=""/>}
					
					{project.data.title}</a>
			})}
		</nav>
		</header>
	
		<main transition:animate="slide" >
<slot  />
		</main>
		{isDev && <div class="floating-edit">
			<a href="/keystatic">			Click here to enter the site editor</a>

		</div>}
		
		
	</body>
</html>